// Nesting => uyalash
// & => Current selector
section#showcase {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  > .container {
    width: 1200px;
    margin: 0 auto;

    .flex {
      display: flex;

      .flex-1 {
        flex: 1;

        &:hover {
          background: red;
        }

        &:nth-child(2) {
          p {
            text-align: center;
          }
        }
      }
    }
  }
}
