// Variables
$asosiy-rang: red;
// Data types
$string: "Poppins";
$number: 12;
$boolean: true; // false
$list: (red, blue, green, yellow, 30px);
$map: (
  lg: 400px,
  md: 300px,
  sm: 200px,
  xs: 100px,
);
