/* 
  CSS ga otadigan
  Multi-line
  (CSS)
*/

// CSS ga otmidigan,
// Single
// (SASS)

// Partials => qismlar
@import "variables";
@import "reset";
@import "header";
@import "showcase";
@import "footer";
@import "built-in-functions";

:root {
  --asosiy-rang: red;
}

h1 {
  color: var(--asosiy-rang);
}

h1 {
  color: $asosiy-rang;
}
